{% extends 'base.html.twig' %}

{% block title %}Требования{% endblock %}
{% block body %}

    {{ include('component/navbar.html.twig') }}
    <h1>Требования к дисциплинам:</h1>
    {% for direction, curriculums in data %}
        <h3>{{ direction }}</h3>
        {% for curriculum, requirements in curriculums %}
            <h2>{{ curriculum }}</h2>
            {% for requirement in requirements %}
                <div class="container-fluid border border-dark">
                    <div> Для дисциплины "
                        <mark>{{ requirement.discipline.Name }}</mark>
                        " требуется
                        <strong><a href="{{ path('app_requirements_show', {'id' : requirement.id}) }}"> {{ requirement.nameEquipment }}</a></strong>
                    </div>
                    {% if requirement.atributes %}
                        <p> Cо следующими атрибутами:</p>
                        <ul>
                            {% for attribute in requirement.atributes %}
                                <li> {{ attribute.name }} - {{ attribute.value }}
                                    {% if attribute.unit %}
                                        {{ attribute.unit }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

        {% endfor %}
    {% endfor %}

{% endblock %}
