{% extends 'base.html.twig' %}

{% block title %}Direction{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>{{ direction.name }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_direction_index') }}">Назад</a>
        <a href="{{ path('app_direction_edit', {'id': direction.id}) }}">Редактировать</a>
        {{ include('direction/_delete_form.html.twig') }}
    {% else %}
        <h3>Учебные планы:</h3>
        <ol>
            {% for curriculum in direction.curriculum %}

                <li>
                    <a href="{{ path('app_curriculum_show', {'id' : curriculum.id}) }}">{{ curriculum.name }}</a>
                    {{ curriculum.dateCreate|date('H:i:s Y-m-d') }}
                </li>

            {% else %}
                <h6 class="text-danger">Нет учебных планов</h6>
            {% endfor %}
        </ol>
        <a href="{{ path('app_curriculum_new', {'direction' : direction.id}) }}">Добавить учебный план</a>
        <a href="{{ path('app_directionUser_index', {'user' : app.user}) }}">Назад</a>
    {% endif %}

{% endblock %}
