{% extends 'base.html.twig' %}

{% block title %}Equipment index{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>Equipment index</h1>
    {% for auditorium in auditoriums %}
        <h3>
            <a href="{{ path('app_auditorium_show', {'id': auditorium.id}) }}">{{ auditorium.number }}:</a>
        </h3>
        <div class="container-fluid border border-dark">
            {% for equipment in auditorium.Equipment %}
                <ul>
                    <li>
                        <a href="{{ path('app_equipment_show', {'id': equipment.id}) }}">{{ equipment.name }}</a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% else %}
        <p colspan="3">no records found</p>

    {% endfor %}

{% endblock %}
