{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>{{ equipment.Name }}</h1>

    {% for attribute in attributes %}
        <div class="container-fluid">
            <div class="row row-cols-auto">
                <div class="col">
                    <p>{{ attribute.Name }}: {{ attribute.Value }}</p>
                </div>
                <div class="col">
                    <a href="{{ path('app_attribute_edit', {'id': attribute.id}) }}">Изменить</a>
                </div>
                <div class="col">
                    <a href="{{ path('app_attribute_delete', {'id': attribute.id}) }}">Удалить</a>
                </div>
            </div>
        </div>

    {% else %}
        <h4> Нет атрибутов</h4>
    {% endfor %}


    <a href="{{ path('app_attribute_new' , {'equipment': equipment.id}) }}">Добавить атрибут</a>
    <a href="{{ path('app_equipment_index') }}">back to list</a>

    <a href="{{ path('app_equipment_edit', {'id': equipment.id}) }}">edit</a>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
