{% extends 'base.html.twig' %}

{% block title %}Направление{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>Направлениие: {{ curriculum.direction }}</h1>
    <h1>Учебный план: {{ curriculum.name }}</h1>
    <h5>Дисциплины:</h5>
    <ul>
    {% for discipline in curriculum.disciplines %}

        <li><a href="{{ path('app_disciplin_show', {'id' :discipline.id}) }}">{{ discipline.name }}</a></li>
    {% endfor %}
    </ul>
    <a href="{{ path('app_curriculum_index') }}">back to list</a>

    <a href="{{ path('app_curriculum_edit', {'id': curriculum.id}) }}">edit</a>

    {{ include('curriculum/_delete_form.html.twig') }}
{% endblock %}
